body { text-align: center; }
#header {
    height: 60px;
    line-height: 60px;
    box-shadow: 0 1px 1px #eee;
    background-color: #ccc;
}

#nav {
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
}

.wrap {
    max-width: 600px;
    margin: 0 auto;
    text-align: left;
}

#footer {
    max-width: 600px;
    text-align: right;
}
