<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1">
    <link rel="alternate" type="application/atom+xml" title="Subscribe Feed" href="/feed.xml">
    <title>{{ g.blog_name }}</title>
    <link rel="stylesheet" href="/static/sblog.css" media="all">
</head>
<body>
    <div class="flex-wrap yue">
        <div class="flex-item sidebar-left">
            {% include "sidebar-left.html" %}
        </div>
        <div class="flex-item main">
            {% block main %}{% endblock %}
        </div>
        <div class="flex-item sidebar-right">
            {% include "sidebar-right.html" %}
        </div>
    </div>
    {% if g.google_analytics %}
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', '{{ g.google_analytics }}']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
    {% endif %}
</body>
</html>
