{% extends "layout.html" %}
{% block title %}
{{ hilite.title() }}
{% endblock %}
{% block content %}
<header class="entry-header">
    <h1 class="entry-title">Articles {% if hilite != 'home' %} in {{ hilite.title() }} {% endif %}</h1>
</header>
<ul class="entry-list">
    {% for p in posts %}
    <li>
    <a href="/{{ p.meta.link }}">{{ p.meta.title }}</a>
    <div class="entry-meta">
        Published on
        <time class="publish-date" datetime="{{ p.meta.date }}">{{ p.meta.date }}</time>
        by
        <span class="author-name">{{ site.author }}</span>
    </div>
    </li>
    {% endfor %}
</ul>
{% endblock %}
